
  <link rel="stylesheet" href="stylesheets/gallery.css">
  <script src="javascripts/populateThumbnails.js"></script>

  <div class="container">
        <div class="row" id="thumbsContainer">


            <div class="col-lg-4 col-md-6" id="thumb">
                <aside>
                    <img src="images/img1.jpeg" class="img-responsive" id="thumbImage">
                    <div class="content-title">
                        <div class="text-center">
                            <h3><a href="#" id="thumbTitle">The tile of the blog thumbnail goes here</a></h3>
                        </div>
                    </div>
                    <div class="content-footer">
                        <img class="user-small-img" src="images/profile.jpg" id="authorPic">
                        <span style="font-size: 16px;color: #fff;" id="authorName1">Student Name</span>
                        <span class="pull-right">
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> <span id="commentsNumber"> 30 </span></a>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="like"><i class="fa fa-thumbs-o-up "></i> <span id="likesNumber"> 20 </span></a>
                        </span>
                        <div class="user-details">
                            <div class="user-img"><img src="images/profile.jpg" class="img-responsive" id="authorPic"></div>
                            <span class="user-full-details">
                                <h3 id="authorName2">Student Name</h3>
                                <p id="authorJob">A student from Coventry University</p>
                            </span>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>