<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchy">

<head>
  <!-- SCROLLS -->

  <!-- SPELLS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="javascripts/spa.js"></script>
  <script src="javascripts/board.js"></script>
  <script src="javascripts/populateThumbnails.js"></script>

  <meta charset="utf-8">
      <base href="/">
  <!-- <meta name="fragment" content="#!"> -->
</head>

<!-- define angular controller -->
<body ng-app="scotchy">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="main">Home</a></li>
                <li><a href="aboutKorea">About Korea</a></li>
                <li><a href="koreaFood">Korea food</a></li>
                <li><a href="culturelInfo">Korea culture</a></li>
               
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>








  <div id="main">
  
    <!-- angular templating -->
		<!-- this is where content will be injected -->
    <div ng-view></div>
    
  </div>




  
  <footer class="text-center">
      <div id="sns">
          <a href="https://www.facebook.com/"><img src="images/facebook.png" alt="JaewoongYu" style="height:40px;"></a>
          <a href="https://www.youtube.com/"><img src="images/youtube.png" alt="JaewoongYu" style="height:40px;"></a>
          <a href="https://www.instagram.com/"><img src="images/linkedin.png" alt="JaewoongYu" style="height:40px;"></a>
          <a href="https://www.gmail.com/"><img src="images/gmail.png" alt="JaewoongYu" style="height:40px;"></a>
          <a href="https://www.twitter.com/"><img src="images/twitter.jpg" alt="JaewoongYu" style="height:40px;"></a>
          <a href="https://www.instagram.com/"><img src="images/instagram.jpg" alt="JaewoongYu" style="height:40px;"></a>
  
      </div>
    <p>View the tutorial on <a href="http://scotch.io/tutorials/javascript/single-page-apps-with-angularjs-routing-and-templating">Scotch.io</a></p>
  
    <p>View a tutorial on <a href="http://scotch.io/tutorials/javascript/animating-angularjs-apps-ngview">Animating Your Angular Single Page App</a></p>
  </footer>
  
</body>

</html>
