<link rel="stylesheet" href="stylesheets/KoreanFood.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-xs-12 col-md-12">
    <h2 class="text-center">Korean food</h2>
    <div id=logo>
        <img src="images/hansik1.jpg" alt="Logo for Korean Travel">
    </div>
</div>
</div>

       
<div class="row center-block">
     <div class="col-xs-1 col-md-1"></div>
    <div class="jumbotron  col-xs-10 col-md-10">
        <p1 id ="foodfont" class="text-center" >Hansik refers to traditional Korean food, centered around rice, served alongside a bowl of soup and a variety of side dishes. Most foods use meat and vegetables as the main ingredients, and are soaked in brine or water rather than fried in
            oil, making hansik wonderful for one's health. More than anything else, hansik’s most outstanding feature is the amount of fermented foods, which are beneficial in improving digestion, as well as preventing cancer. The most well-known
            fermented foods are kimchi (fermented cabbage), ganjang (soy sauce), doenjang (soybean paste), and gochujang (Korean chili paste). Popular dishes among international visitors include bulgogi, bibimbap, and hanjeongsik (Korean table d'hote).
            Bulgogi is a marinated beef or sometimes pork dish that is sweet and tender in texture. In particular, the soy sauce seasoning is not spicy, thus making it a great introductory dish to hansik. Bibimbap, on the other hand, is a complete
            meal in and of itself, mixing rice with all kinds of vegetables of one's choice, topped with gochujang for that extra kick. Hanjeongsik is served as a full table’s worth of side dishes featuring meat and vegetables along with soups, steamed
            foods, and hot pots. This is a popular choice for visitors looking to try a little bit of everything.</p1>
    </div>
    <div class="col-xs-1 col-md-1"></div>
</div>
<div class="container-fluid">
    <div class="row" id="for_row">

        <div class="col-md-4" data-ride="carousel"><img class="thumbnail" src="images/Galbi.jpg" id="img" height="380px" width="550px"></div>

        <div class="col-md-4" data-ride="carousel"><img class="thumbnail" src="images/hanjeongsik.jpg" id="img" height="380px" width="550px"></div>

        <div class="col-md-4" data-ride="carousel"><img class="thumbnail" src="images/kimchi1.jpg" id="img" height="380px" width="550"></div>

    </div>
</div>

