<link rel="stylesheet" type="text/css" href="stylesheets/login.css" />
<div class="container">
        <section id="content">
            <div id=logo>
                <a href="index"><img src="images/logo.png" alt="Logo for Korean Travel"></a>
            </div>
            <form action="">
                <h1>Login Form</h1>
                <div>
                    <input type="text" placeholder="Username" required="" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="Password" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Log in" />
                    <a href="#">Lost your password?</a>
                    <a href="#">Register</a>
                </div>
            </form>

        </section>

    </div>