<link rel="stylesheet" type="text/css" href="stylesheets/signup.css" />
<div class="container">
    <section id="content">
        <div id=logo>
            <a href="#"><img src="images/logo.png" alt="Logo for Korean Travel"></a>
        </div>
        <form action="">
            <h1>Sign Up</h1>
            <div>
                <input type="text" placeholder="Email" required="" id="email" />
            </div>

            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="password" placeholder="Re-enter password" required="" id="password2" />
            </div>
            <div>
                <input type="text" placeholder="Name" required="" id="name" />
            </div>
            <div>
                <input id ="submit" type="submit" value="Sign Up" />
                
            </div>
        </form>

    </section>

</div>
