<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="scotchy">

<head>
  <!-- SCROLLS -->
<title></title>
<base href="/" >

<meta charset="utf-8">
  <!-- SPELLS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 
  
  <link rel="stylesheet" type="text/css" href="stylesheets/custom.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- <script src="javascripts/spa.js"></script> -->
  <script src="javascripts/board.js"></script>

   
  <!-- <meta name="fragment" content="#!"> -->
</head>

<!-- define angular controller -->
<body ng-app="scotchy">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active" ><a href="travel">Travel</a></li>
                <li><a href="koreaFood">Korea food</a></li>
                <li><a href="culturelInfo">Korea culture</a></li>
               
                <li><a href="gallery">Gallery</a></li>
                <li><a href="contact">Contact us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <% if(user) { %>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li> 
                    <% }else {%>
                        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                       <%}%>
            </ul>
        </div>
    </nav>


    <div class="main">
<div class="row featurette">
    <div class="col-xs-1 col-md-1"></div>
<div class="col-xs-9 col-sm-4 col-md-5">
  <h2 class="featurette-heading">Passing through autumn scenery on  <span class="text-muted">Jeongseon Railbike</span></h2>
  <p class="lead" style="font-size: 15px">You can enjoy Korea’s beautiful nature and an exciting activity all in one! Railbiking is a popular leisure sport that uses bikes and railroads specially built for sightseeing. Hop on a railbike and pedal your way along the railroad tracks for the opportunity to get a light workout and enjoy wonderful landscapes of Korea at the same time. Read on for our recommended railbike facilities that capture the views of Korea’s mountains, oceans, and rivers.
    </p>
</div>
<div class="col-xs-6 col-md-4">
  <img class="featurette-image img-responsive center-block" src= "images/2515344_image_1.jpg" alt="Generic placeholder image">
</div>
<div class="col-xs-1 col-md-1"></div>
</div>

<hr class="featurette-divider">





<div class="row featurette" >
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-6 col-md-4">
                <img class="featurette-image img-responsive center-block" src= "images/2515344_image_2.jpg" alt="Generic placeholder image">
              </div>
    <div class="col-xs-9 col-sm-4 col-md-5">
      <h2 class="featurette-heading">Gangchon  <span class="text-muted">Rail Park & railbike</span></h2>
      <p class="lead" style="font-size: 15px">Conveniently located near Seoul, Gangchon Rail Park used to be a servicable train station but is now a railbike tourist attraction that connects two closed station platforms, Gimyujeong Station and Gangchon Station. In fall, follow the Gangchon railway to see colorful foliage of fields and forests. You will also pass through Bubble Tunnel and Musical Tunnel, and even see Bukhangang River along the way! The railbike track is approximately 6km long, with the remaining journey of 2.5km completed by the Romantic Train. When you arrive at Gangchon station, you can either move on to the next attraction or return to Gimyujeong Station by the free shuttle bus provided.
            
        </p>
    </div>
  
    <div class="col-xs-1 col-md-1"></div>
    </div>
    
    <hr class="featurette-divider">





    <div class="row featurette" >
            <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-9 col-sm-4 col-md-5">
          <h2 class="featurette-heading">Fall scenes at   <span class="text-muted">Jeongseon Railbike</span></h2>
          <p class="lead" style="font-size: 15px">Jeongseon Railbike has a relatively easy course without any uphill sections except for the final 1km section. Follow the railroad tracks and relax as you pass by peaceful forests, beds of cosmos and golden fields of autumn. The Scenery Train will head out to the final stop once all the rail bikes on the railway arrive. All visitors who wish to return to the departing station can take the Scenery Train for free.
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
          <img class="featurette-image img-responsive center-block" src= "images/2515344_image_4.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-xs-1 col-md-1"></div>
        </div>
        

  </div>



  <hr class="featurette-divider">
  <footer class="text-center">
      <div id="sns">
          <a href="https://www.facebook.com/"><img src="images/facebook.png" alt="facebook" style="height:40px;"></a>
          <a href="https://www.youtube.com/"><img src="images/youtube.png" alt="youtube" style="height:40px;"></a>
          <a href="https://www.instagram.com/"><img src="images/linkedin.png" alt="linkedin" style="height:40px;"></a>
          <a href="https://www.gmail.com/"><img src="images/gmail.png" alt="gmail" style="height:40px;"></a>
          <a href="https://www.twitter.com/"><img src="images/twitter.jpg" alt="twitter" style="height:40px;"></a>
          <a href="https://www.instagram.com/"><img src="images/instagram.jpg" alt="instagram" style="height:40px;"></a>
  
      </div>
    <p>Learn all you need to know about this fascinating country here! </p>
  
    <p>KOREATRAVEL</p>
  </footer>





