body {
    background-color: #ECF0F1;
}

/*footer*/
#sns {
    text-align: center;
}

#logo {
    text-align: center;
}


/*main */
#mainlogo {
    text-align: center;
     margin-bottom: 40px;
  
}

#img1{
    filter: brightness(80%);
}

#ol_list>li{
  background: gray;
}
#ol_list>li.active{
    background: red;
}


#blitbar{
    margin-left: 20px;
    margin-top: 20px;
}