
/*footer*/
#sns {
    text-align: center;
}

#logo {
    text-align: center;
}


/*main */
#mainlogo {
    text-align: center;
     margin-bottom: 40px;
  
}

#blitbar{
    margin-left: 20px;
    margin-top: 20px;
}